@font-face {
  font-family: "cocaColaFont";
  src: url("/assets/fonts/loki_cola/LOKICOLA.TTF");
}

@font-face {
  font-family: "Open_Sans";
  src: url("/assets/fonts/Open_Sans/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Oswald";
  src: url("/assets/fonts/Oswald/static/Oswald-Regular.ttf");
}

body {
  background-color: rgb(255, 255, 255);
}

.navbar_coca_cola {
  background-color: black;
  border-width: 0px;
  min-height: 70px;
}

.navbar_coca_cola .navbar-brand {
  color: rgb(245, 235, 235);
}

.navbar_coca_cola .navbar-brand:hover {
  color: red;
}

.navbar_coca_cola .navbar-brand > li > a {
  color: white;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: white;
}

.navbar_coca_cola .navbar-nav .nav-item {
  margin-top: 0px;
}

.navbar_coca_cola .navbar-nav .nav-item > .active,
.navbar_coca_cola .navbar-nav > .active > a:hover,
.navbar_coca_cola .navbar-nav > .active > a:focus {
  color: black; /* Font color for active font */
  background-color: white; /* Blue color for background */
}

.navbar_coca_cola .navbar-nav > li > a:hover,
.navbar_coca_cola .navbar-nav > li > a:focus {
  font-weight: 600;
}

.navbar_coca_cola .navbar-toggler {
  border-color: white;
}

.navbar_coca_cola .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar_coca_cola .navbar-toggler {
  outline: none !important;
}

.dropdown-menu {
  text-align: -webkit-left;
  background-color: white;
  margin-top: 20px; /* Experiment to move the dropdown menu down */
}

.dropdown-menu .dropdown-item {
  color: black;
}

.dropdown-menu .dropdown-item:hover {
  color: white;
  background-color: red;
}

.logo {
  margin-top: 3px;
}

.logo h1 {
  font-family: "cocaColaFont";
  font-size: 31px;
  margin: 0;
  margin-top: -10px;
  margin-bottom: -15px;
  float: left;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 2px;
}

.logo h2 {
  font-family: "cocaColaFont";
  font-size: 31px;
  margin: 0;
  margin-top: -6px;
  margin-bottom: -15px;
  float: left;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 3px;
}

.logo h3 {
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: -5px;
  float: left;
  padding-top: 0px;
  padding-left: 0px;
}

.logo p {
  font-size: 7px;
  margin-top: 22px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-left: 3px;
}

.main_contents {
  margin-top: 10px;
  margin-bottom: 10px;
}

.card {
  border: 1px solid rgba(0, 0, 0, 0.125);
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(255, 255, 255);
}

p {
  font-family: "Open_Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  /*font-family: "cocaColaFont";*/
}

#main_3d_image {
  background-image: url("/assets/images/backgound.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  width: 100%;
}

.render {
  width: 100%;
  height: 250px;
}

#main_text {
  float: left;
  margin: 5%;
  width: 90%;
  display: block;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
}

#main_text h2 {
  color: rgb(0, 143, 214);
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 5px;
}

#main_text h3 {
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#main_text p {
  font-size: 12px;
  margin: 0px;
  line-height: 1.2;
}

#style-page {
  color: white;
  text-decoration: none;
  font-size: 10px;
}

#style-page:hover {
  font-weight: 600;
}

.footer {
  color: white;
  background-color: black; /* Set navbar footer background color same as header */
  height: 50px;
}

.navbar-text > a {
  font-size: 10px;
}

.navbar-text > p {
  color: rgb(255, 255, 255);
  font-size: 14px;
  text-decoration: none;
}

.copyright > p {
  color: rgb(255, 255, 255);
  margin: 5px;
  padding-top: 0px;
  width: 100%;
  font-size: 10px;
}

.social {
  margin: 0px;
  padding: 0px;
}

@media (min-width: 576px) {
  .navbar_coca_cola {
    min-height: 90px;
  }

  /* CSS rule to style the footer */
  .footer {
    background-color: black;
    height: 60px;
  }

  .navbar-text > a {
    font-size: 10px;
  }

  .copyright > p {
    font-size: 12px;
    color: white;
  }

  #style-page {
    font-size: 12px;
  }

  .social {
    padding-top: 7px;
  }

  #main_3d_image {
    height: 288px;
  }

  .render {
    height: 300px;
  }
}

@media (min-width: 768px) {
  .logo h1 {
    font-family: "cocaColaFont";
    font-size: 41px;
    margin: 0;
    margin-top: 0px;
    margin-bottom: -15px;
    float: left;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 2px;
  }

  .logo h2 {
    font-family: "cocaColaFont";
    font-size: 43px;
    margin-top: 5px;
    margin-bottom: -15px;
    float: left;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 3px;
  }

  .logo h3 {
    font-size: 31px;
    margin-top: 5px;
    margin-bottom: 3px;
    float: left;
    padding-top: 0px;
    padding-left: 0px;
  }

  .logo p {
    font-size: 10px;
    margin-top: 45px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 8px;
  }

  #main_text h2 {
    color: crimson;
    font-size: 30px;
  }

  #main_text h3 {
    color: darkcyan;
    font-size: 22px;
  }

  #main_text p {
    font-size: 15px;
  }

  .footer {
    background-color: black;
    height: 70px;
  }

  #main_3d_image {
    height: 363px;
  }

  .render {
    height: 400px;
  }

  .copyright > p {
    font-size: 16px;
    color: white;
  }

  #style-page {
    font-size: 16px;
  }
}

@media (min-width: 992px) {
  #main_text h2 {
    color: rgb(0, 153, 20);
    font-size: 30px;
  }

  #main_text h3 {
    color: rgb(255, 139, 6);
    font-size: 22px;
  }

  .render {
    height: 500px;
  }

  #main_3d_image {
    height: 500px;
  }

  .footer {
    background-color: black;
  }

  .copyright > p {
    color: white;
  }
}

@media (min-width: 1200px) {
  #main_text h2 {
    color: rgb(0, 2, 0);
    font-size: 30px;
  }

  #main_text h3 {
    color: rgb(23, 6, 255);
    font-size: 22px;
  }

  .render {
    height: 600px;
  }

  #main_3d_image {
    height: 600px;
  }

  .footer {
    background-color: black;
  }

  .copyright > p {
    color: white;
  }
}

@media (min-width: 1400px) {
  #main_text h2 {
    color: rgb(247, 5, 255);
    font-size: 30px;
  }

  #main_text h3 {
    color: rgb(6, 197, 255);
    font-size: 22px;
  }

  .render {
    height: 700px;
  }

  #main_3d_image {
    height: 800px;
  }

  .footer {
    background-color: black;
  }

  .copyright > p {
    color: white;
  }
}
